.button {
  padding: 4px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: var(--main-fg-color);
  color: var(--main-bg-color);
  border-radius: 1000px;

  &:disabled {
    opacity: 0.3;
  }
}
