.card {
  width: 100%;
  height: fit-content;

  padding: 8px;

  border-radius: 8px;
  background-color: var(--secondary-color);

  &.soft {
    background-color: var(--secondary-bg-color);
  }
  &.hard {
    background-color: var(--violet);
  }
}
