.carouselWrapper {
  width: 100%;
  aspect-ratio: 2 / 1;
  overflow-y: hidden;
  overflow-x: scroll;
  display: flex;
  scroll-snap-type: x mandatory;
  > * {
    flex-shrink: 0;
    scroll-snap-align: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 8px;

    p {
      padding: 8px;
      font-size: 2rem;
      color: var(--night-sky);
      font-weight: bold;
      border-radius: 8px;
      text-shadow: 0 0 10px var(--egg-shell);
    }
  }
}
