.modalWrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  .modalWindow {
    z-index: 10;
    padding: 16px;
    background-color: var(--main-bg-color);
    box-shadow:
      2px 2px 2px var(--main-fg-color),
      -2px -2px 2px black;
  }
}
