.tiptap {
  width: 100%;
  height: 100%;
  div[role="textbox"] {
    padding: 4px 8px;
    overflow: auto;
    min-height: 4lh;
    max-height: 12lh;
    outline: 0;
    border: 2px solid rgba(255, 255, 255, 0.5);

    &:focus {
      border: 2px solid var(--main-fg-color);
    }
  }
}
