---
import { Group } from "../../components/Group";
import Layout from "../../layouts/Layout.astro";

const { id } = Astro.params;
---

<Layout>
    <header>
        <h1>10d2</h1>
    </header>
    <main>
        <Group groupId={id ?? ""} client:load />
    </main>
</Layout>
