---
import { Group } from "../../components/Group";
import Layout from "../../layouts/Layout.astro";

const { id } = Astro.params;
---

<Layout>
    <main>
        <Group groupId={id ?? ""} client:load />
    </main>
</Layout>
