---
import { Groups } from "../assets/bbdd";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<main>
		<p>
			¡Bienvenido a 10d2! Un espacio para compartir tus partidas de rol en
			texto, con comentarios de toda la party
		</p>
		<h2>Grupos Actuales</h2>
		<ul>
			{
				Groups.map((g) => {
					return (
						<li>
							<a href={`/groups/${g.id}`}>{g.name}</a>
						</li>
					);
				})
			}
		</ul>
	</main>
</Layout>
