---
import Layout from "../../layouts/Layout.astro";
import { Session } from "../../components/Session";

const { id } = Astro.params;
---

<Layout>
    <main>
        <Session sessionId={id ?? ""} client:load />
    </main>
</Layout>
