---
import Layout from "../../layouts/Layout.astro";
import TipTap from "../../components/Core/TipTap";
import { Button } from "../../components/Core/Button";
---

<Layout>
    <main>
        <TipTap client:load />
        <Button client:load>Guardar</Button>
    </main>
</Layout>
