---
import Layout from "../../layouts/Layout.astro";
import TipTap from "../../components/TipTap";
import "../../styles.css";
import { Button } from "../../components/Button";
---

<Layout>
    <header>
        <h1>10d2</h1>
    </header>
    <main>
        <TipTap client:load />
        <Button client:load>Guardar</Button>
    </main>
</Layout>
