.annotationsWrapper {
  display: inline-block;

  overflow: hidden;
  width: 0%;
  height: 0;
  transition:
    width 0.3s ease-in-out,
    height 0.3s ease-in-out,
    padding 0.3s ease-in-out;

  &.show {
    width: 100%;
    height: auto;
  }
}
