
.sessionSummarySentence {
    position: relative;
    cursor: pointer;
    border-radius: 4px 0 4px 0;

    transition: background-color 0.3s, color 0.3s, font-weight 0.3s;

    text-wrap: pretty;

    &.selected {
        background-color: #151;
    }

    &.annotated {
        text-decoration: underline;
    }
}
