.sessionSummarySentence {
  position: relative;
  border-radius: 4px 0 4px 0;

  transition:
    background-color 0.3s,
    color 0.3s,
    font-weight 0.3s;

  text-wrap: pretty;

  &.canAnnotate {
    cursor: pointer;
  }

  &.selected {
    background-color: #151;
  }

  &.annotated {
    text-decoration: underline;
    color: var(--interactive-color);
    cursor: pointer;
  }
}
.annotateBtnWrapper {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  .annotateBtn {
    position: absolute;
    height: 4ch;
    width: 4ch;
    bottom: 0;
    left: 100%;
    z-index: 1;
  }
}
