---
import { Campaign } from "../../components/Campaign";
import Layout from "../../layouts/Layout.astro";

const { id } = Astro.params;
---

<Layout>
    <main>
        <Campaign campaignId={id ?? ""} client:load />
    </main>
</Layout>
